@{
    ViewBag.Title = "Đăng nhập";
}

<h2 class="mb-4">Đăng nhập</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post" class="w-50">

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Mật khẩu</label>
        <input type="password" name="matkhau" class="form-control" required />
    </div>

    <button class="btn btn-danger px-4">Đăng nhập</button>

    <p class="mt-3">
        Chưa có tài khoản?
        <a href="/NguoiDung/Register">Đăng ký ngay</a>
    </p>

</form>
